[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-datadir = "*"
mypy = "*"
prospector = "*"
"pep257" = "*"
pdbpp = "*"
requests-mock = "*"

[packages]
gevent = "*"
gunicorn = "*"
shortuuid = "*"
iiif-prezi = "*"
lxml = "*"
requests = "*"
"psycopg2-binary" = "*"
redis = "*"
alembic = "*"
rq = "*"
"py3dns" = "*"
ipython = "*"
Flask = "<1.0"  # Needed so that autodoc works :-/
Flask-SQLAlchemy = "*"
Flask-Script = "*"
Flask-Autodoc = "*"
Flask-Migrate = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "py.test tests"
worker = "python3 manage.py worker"
webapp = "gunicorn --reload --worker-class gevent -w 4 -b 0.0.0.0:5000 manage:app"
manage = "python3 manage.py"
