# For the HTTP-API
# TODO: Hack, use Flask before 1.0 to work with broken Flask-Autodoc-0.1.2.
Flask<1.0
Flask-SQLAlchemy
Flask-Script
Flask-Autodoc
Flask-Migrate
gevent
gunicorn

# For METS import/IIIF generation
shortuuid
iiif-prezi
lxml
# Current releases of Pillow don't work with py3dns,
# so let py3dns get the right Pillow version.
#Pillow
requests

# Persistence
psycopg2-binary
redis
alembic

# Miscallaneous
rq  # Task queue
validate_email  # To verify emails
py3dns  # To verify emails via MX entries
ipython  # for debugging on the repl
