# For the HTTP-API
Flask
Flask-SQLAlchemy
Flask-Script
flask-autodoc
flask-migrate
gevent
gunicorn

# For METS import/IIIF generation
shortuuid
iiif-prezi
lxml
Pillow
requests

# Persistence
psycopg2
redis
alembic

# Miscallaneous
rq  # Task queue
validate_email  # To verify emails
py3dns  # To verify emails via MX entries
ipython  # for debugging on the repl
