# For the HTTP-API
Flask
Flask-SQLAlchemy
Flask-Script
flask-autodoc
gevent
gunicorn

# For METS import/IIIF generation
shortuuid
iiif-prezi
lxml==3.6.4  # 3.7.0 does not have wheels yet
Pillow
requests

# Persistence
psycopg2
redis

# Miscallaneous
rq  # Task queue
rq-scheduler  # Periodic tasks
validate_email  # To verify emails
py3dns  # To verify emails via MX entries
ipython  # for debugging on the repl
