html, body {
  background-color: white;
}

.footer {
  background-color: white;
}

/* See comment on the corresponding element */
#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.mets-preview.image {
  max-height: 128px;
}

.mets-preview img {
  max-height: 128px;
  width: auto;
}

.attribution-logo {
  max-width: 48px;
}

.jobs {
  margin-top: 5vh;
  max-width: 1200px;
}

.notification-form {
  margin-bottom: 1vh;
}

.job-display {
  margin-bottom: 1vh;
}

input.metsurl {
  width: 100% !important;
}

.button.is-large img {
  height: 42px;
}

.button.is-loading img {
  display: none;
}

.iiif-btn img {
  min-width: 20px;
  min-height: 20px !important;
  max-height: 36px;
  width: auto;
  height: auto !important;
}

.metsurl img {
  max-height: 1.5em;
}

a.metsurl img {
  margin: 0.5em auto;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-header .delete {
  margin-left: 0.75em;
}

.footer .content {
  color: lightgray;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.attribution-logo img {
  max-width: 32px;
}

.card-footer-item img {
  max-height: 24px;
}

.manifest-preview {
  height: 200px;
}

.manifest-preview img {
  max-height: 200px;
  width: auto;
}

.card {
  width: auto;
}

.card-footer-item.button {
  height: auto;
  border-radius: 0;
}

.recent-manifests {
  margin-top: 2em;
}

.welcome-box {
  margin-top: 1em;
}

.mets-control input {
  flex: 1;
}

.faq dt {
  font-weight: bold;
}

.faq dd {
  margin-left: 1em;
  margin-bottom: 1em;
}

.faq section {
  margin-top: 2em;
}

.container:not(.recent-manifests) {
  max-width: 800px;
}

.api-docs p:not(:last-child) {
  margin-bottom: 0.25em;
}

.api-docs .mapping {
  margin-bottom: 1em;
}

.api-docs .rule>h3 {
  display: inline-block;
  margin-bottom: 0.25em;
}

.api-docs .methods {
  display: inline-block;
  margin-left: 1em;
}

.methods tt:not(:last-child):after, .methods a:not(:last-child):after {
  content: ',';
}

button.load-more {
  width: 100%;
}

.nav-item a.is-brand, a.nav-item.is-brand {
  padding: .5rem .75rem;
}
