html, body {
  background-color: white;
}

.footer {
  background-color: white;
}

/* See comment on the corresponding element */
#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.mets-preview.image {
  max-height: 128px;
}

.mets-preview img {
  max-height: 128px;
  width: auto;
}

.attribution img {
  max-width: 64px;
}

.jobs {
  margin-top: 5vh;
  max-width: 1200px;
}

.notification-form {
  margin-bottom: 1vh;
}

.job-display {
  margin-bottom: 1vh;
}

input.metsurl {
  width: 100% !important;
}

.button.is-large img {
  height: 42px;
}

.button.is-loading img {
  display: none;
}

.iiif-btn {
  min-width: 82px;
}

.metsurl img {
  max-height: 1.5em;
}
