<!DOCTYPE html>
<html lang="en">
  <head>
    {%  block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convert METS to IIIF">
    <title>{%block title %}demetsiiify{% endblock %}</title>
    {% endblock %}
    {% block styles %}
    <link rel="icon" href="[[ url_for('static', filename='img/favicon.png') ]]" type="image/png">
    <link rel="stylesheet" href="[[ url_for('static', filename='css/bulma.min.css') ]]">
    <link rel="stylesheet" href="[[ url_for('static', filename='css/style.css') ]]">
    {% endblock %}
  </head>


  <body>
    {%block header %}
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="/">
          demetsiiify
        </a>
      </div>

      <!-- This is a a hacky way to get the navbar toggle on mobile without
            using JavaScript: Make the display dependent on the state of
            the hidden checkbox. Clicking the label also changes the state
            of the checkbox, allowing this trick to work -->
      <label class="nav-toggle" for="nav-toggle-state">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <input type="checkbox" class="is-hidden" id="nav-toggle-state" />

      <div class="nav-right nav-menu">
        <a class="nav-item" href="/browse">Browse Collections</a>
        <a class="nav-item" href="/recent">Recent Imports</a>
        <a class="nav-item" href="/apidocs">API</a>
        <a class="nav-item" href="/about">About</a>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
      <div class="container">
        <div class="content has-text-right">
          Created by <a href="https://github.com/jbaiter">Johannes Baiter</a>
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
