<!DOCTYPE html>
<html lang="en">
  <head>
    {%  block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convert METS to IIIF">
    <title>{%block title %}demetsiiify{% endblock %}</title>
    {% endblock %}
    {% block styles %}
    <link rel="icon" href="[[ url_for('static', filename='img/favicon.png') ]]" type="image/png">
    <link rel="stylesheet" href="[[ url_for('static', filename='css/bulma.min.css') ]]">
    <link rel="stylesheet" href="[[ url_for('static', filename='css/style.css') ]]">
    {% endblock %}
  </head>


  <body>
    {%block header %}
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="/">
          demetsiiify
        </a>
      </div>
      <div class="nav-right nav-menu">
        <a class="nav-item" href="/api-docs">API</a>
        <a class="nav-item" href="/about">About</a>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    <div class="footer l-box">
      Created by <a href="https://github.com/jbaiter">Johannes Baiter</a>
    </div>
    {% endblock %}
  </body>
</html>
