{% extends "base.html" %}

{% block title %}demetsiiify{% endblock %}

{% block header %}
{# We implement our own header inside of the hero unit #}
{% endblock %}

{% block content %}
<div class="app">
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-brand" href="/">
            demetsiiify
          </a>
        </div>

        <!-- This is a a hacky way to get the navbar toggle on mobile without
             using JavaScript: Make the display dependent on the state of
             the hidden checkbox. Clicking the label also changes the state
             of the checkbox, allowing this trick to work -->
        <label class="nav-toggle" for="nav-toggle-state">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <input type="checkbox" class="is-hidden" id="nav-toggle-state" />

        <div class="nav-right nav-menu">
          <a class="nav-item" href="/recent">Recent Imports</a>
          <a class="nav-item" href="/apidocs">API</a>
          <a class="nav-item" href="/about">About</a>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered mets-input">
        <p class="control has-addons mets-control">
          <input class="input is-large" type="url" placeholder="Put a METS URL in here">
          <button class="button is-primary is-large iiif-btn">
            <img src="[[ url_for('static', filename='img/iiif_128.png') ]]" alt="IIIF it!">
          </button>
        </p>
      </div>
    </div>
    <div class="hero-foot">
      <div class="footer">
        <div class="content has-text-right">
          <p>
            Created by <a href="https://github.com/jbaiter">Johannes Baiter</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block footer %}
{% if debug %}
  <script src="[[ url_for('static', filename='vendor/vue.js') ]]"></script>
{% else %}
  <script src="[[ url_for('static', filename='vendor/vue.min.js') ]]"></script>
{%- endif %}
<script src="[[ url_for('static', filename='vendor/axios.min.js') ]]"></script>
<script src="[[ url_for('static', filename='js/import.js') ]]"></script>
{% endblock %}
