{% extends "base.html" %}

{% block title %}demetsiiify{% endblock %}

{% block content %}
<div class="import-container">
  <div class='mets-importer'>
    <div class="pure-form mets-input">
      <fieldset>
        <input type="url" class="form-control" placeholder="Put a METS URL in here!">
        <button class="pure-button-primary pure-button" type="button">IIIF it!</button>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
[[ super() ]]
<script src="[[ url_for('static', filename='vendor/vue.js') ]]"></script>
<script src="[[ url_for('static', filename='vendor/axios.min.js') ]]"></script>
<script src="[[ url_for('static', filename='js/import_new.js') ]]"></script>
{% endblock %}
