{% extends "base.html" %}

{% block title %}
Recent Imports
{% endblock %}

{% block content %}
<div class="recent">
</div>
{% endblock %}

{% block footer %}
[[ super() ]]
{% if debug %}
  <script src="[[ url_for('static', filename='vendor/vue.js') ]]"></script>
{% else %}
  <script src="[[ url_for('static', filename='vendor/vue.min.js') ]]"></script>
{%- endif %}
<script src="[[ url_for('static', filename='vendor/axios.min.js') ]]"></script>
<script src="[[ url_for('static', filename='js/recent.js') ]]"></script>
{% endblock %}
